.horario-container{
    display: flex;
    flex-direction: column;
}

.tabela-horarios{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 10px;
}

.horario{
    border-style: double;
    padding: 1rem;

    border-radius: 10%;
    border-color: rgb(0, 27, 102);
}

.agendamento-btn{
    max-width: 130px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgb(0, 56, 129);
    transition: .2s;
    border-style: none;
    border-radius: 5%;

    padding: 10px;
}

.dia{
    color: rgb(0, 39, 122);
    font-family: var(--font2);
    font-weight: bold;
}


@media(max-width: 600px){    
    .tabela-horarios{
        grid-template-columns: repeat(3, 1fr);
    }
}
